[core]
    excludesfile = {{ .chezmoi.homeDir }}/.gitignore
{{- if eq .chezmoi.os "darwin" }}
    editor = code --wait
{{- end }}
[user]
    email = {{ .email | quote }}
    name = {{ .name | quote }}
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
    navigate = true
    syntax-theme = Solarized (dark)
    # side-by-side = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    line-numbers = true
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-style = omit

