# GENERAL
alias cz="chezmoi"
alias dc="docker-compose"
alias d="docker"
alias dps={{`"docker ps --format='table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.Status}}'"`}}
alias dpsa={{`"docker ps -a --format='table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.Status}}'"`}}
alias mu="mutagen"
alias h="helm"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias zshal="chezmoi edit ~/.zsh_aliases"
alias zshrc="chezmoi edit ~/.zshrc"
alias cd="z"
alias j="jump"
alias reload="exec $SHELL"
alias la="exa -lag"
alias recache="rm ~/.zcompdump* ~/.oh-my-zsh/cache/.zcompdump; compinit"

# Zippin
alias gz="tar -zcvf"
# Unzip
alias gx="tar -xzvf"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias dips={{`"docker ps -q | xargs -n 1 docker inspect --format '{{ .Name }} {{range .NetworkSettings.Networks}} {{.IPAddress}}{{end}}' | sed 's#^/##';"`}}

{{- if eq .chezmoi.os "darwin" }}
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
alias brewlist="brew info --json=v1 --installed | jq 'map(select(any( .installed[]; .installed_on_request == true )) | \"\(.name) - \(.desc)\")'"
{{- end }}

# unalias duf
