{{ define "script-header" -}}
#!/usr/bin/env bash

set -eufo pipefail
{{ end -}}

{{ if (eq .chezmoi.os "darwin") -}}
{{   template "script-header" . -}}
brew install git coreutils
{{ else if (eq .chezmoi.os "linux") -}}
{{   template "script-header" . -}}
sudo apt install git
{{ end -}}

if [ ! -d "$HOME/.dircolors" ]; then
    git clone --depth=1 https://github.com/seebi/dircolors-solarized "$HOME/.dircolors"
fi
