{{ if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

set -eufo pipefail

(
	cd $HOME/Library/Fonts &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf > "MesloLGS NF Regular.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf > "MesloLGS NF Bold.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf > "MesloLGS NF Italic.ttf" &&
	curl -sL https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf > "MesloLGS NF Bold Italic.ttf"
)
{{ end -}}
